<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />

</head>
<body>
    <h2>Réinitialisation du mot de pass</h2>

<p>Suivez ce lien pour réinitialiser le mot de passe de votre utilisateur :</p>
<p><a href="{{ url }}">Réinitialisation du mot de pass</a></p>
</body>
</html>
